@media (max-width: 24rem) {
  html {
    font-size: 30%;
  }

  .container {
    max-width: 320px;
    height: 420px;
  }

  .exclude {
    display: none;
  }

  .footer {
    margin-top: 2.5rem;
  }
}
